In [2]:
# Install library yang dibutuhkan
# pip install psycopg2-binary sqlalchemy pandas

import psycopg2
import sqlalchemy
import pandas as pd

# Contoh connection string Neon
connection_string = "postgresql://data_warehouse_owner:bTP2g3SXoUWw@ep-patient-fog-a1s2lmu3.ap-southeast-1.aws.neon.tech/data_warehouse?sslmode=require"

In [ ]:
engine = sqlalchemy.create_engine(connection_string)

# Fungsi untuk membaca tabel dari database
def read_table(table):
    """
    Fungsi untuk membaca tabel dari database Neon
    
    Parameters:
    table_name (str): Nama tabel yang ingin dibaca
    
    Returns:
    pandas.DataFrame: Data tabel dalam bentuk DataFrame
    """
    try:
        # Membaca tabel menggunakan pandas
        df = pd.read_sql_table(table_name, engine)
        return df
    except Exception as e:
        print(f"Error membaca tabel {table_name}: {e}")
        return None

# Contoh penggunaan
# Ganti 'nama_tabel_anda' dengan nama tabel yang sebenarnya
tabel = read_table('nama_tabel_anda')

if tabel is not None:
    # Menampilkan beberapa baris pertama
    print(tabel.head())
    
    # Menampilkan informasi tabel
    print("\nInformasi Tabel:")
    print(tabel.info())

❌ Terjadi Kesalahan: (psycopg2.OperationalError) connection to server at "ep-yourcluster.us-east-2.aws.neon.tech" (2600:1f16:12b2:b424:fdaf:6c84:8d6e:429f), port 5432 failed: ERROR:  password authentication failed for user 'username'
connection to server at "ep-yourcluster.us-east-2.aws.neon.tech" (2600:1f16:12b2:b424:fdaf:6c84:8d6e:429f), port 5432 failed: ERROR:  connection is insecure (try using `sslmode=require`)

(Background on this error at: https://sqlalche.me/e/20/e3q8)

NameError: name 'engine' is not defined